#legal-disclaimer.modal
  .modal-header
    %h3 Legal Disclaimer
  .modal-body
    %p The information shown in this site is for testing and demonstration purposes only and is not intended to represent any factual information about property, individuals, agencies or organizations. This information shown herein is not intended to be used as the basis for decisions regarding legal, financial, or personal matters. Neither Code for America nor the City of New Orleans shall be held liable for any damages or losses incurred related to the information within this site or decisions made on the basis of said information.
  .modal-footer
    %a.btn.btn-primary{"data-dismiss" => "modal"} I Undertstand
