%div{:class => 'content frontpage' }
  =render "addresses/search"
  
%div{:style => "width: 100px; text-align: center; margin:0 auto"}
  .btn
    %a{:href => "/map"} View Map
  .btn
    %a{:href => "/stats"} View Stats
  .btn
    %a{:href => "/cases"} View Cases