%div{:class =>'well form-search'}

  =form_tag("/addresses/search", :method => "get") do
    .span3
      %br
    .span3
      =label_tag(:address, "Search for an address:")
    .span4
      =autocomplete_field_tag 'address', '', autocomplete_address_address_long_addresses_path
    .span4
      =submit_tag("Search Address", :class => 'btn btn-primary')
								
			
