.progress-bar-wrapper
  -unless @case.nil?
    .progress-bar
      .progress-bar-overlay{:style => "width: #{@progressbar}"}    
        %span{ :class=> 'property-status property-status-inspection', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"Inspectors ",  'data-original-title'=>"Inpection"}
          %a Inspection
        %span{ :class=> 'property-status property-status-notification', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Notification"}
          %a Notifications
        %span{ :class=> 'property-status property-status-hearing', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Hearing"}
          %a Hearings
        %span{ :class=> 'property-status property-status-judgement', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"ssdf",  'data-original-title'=>"Judgement"} 
          %a Judgements
        %span{ :class=> 'property-status property-status-resolution', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsf",  'data-original-title'=>"Resolution"} 
          %a Resolution
        