%div{ :class => 'case-history span10' }
  .span13
    -unless @case.nil?
      %h3 Property History
      .case_number
        -unless @case.case_number.nil?
          %h5 Case Number: #{@case.case_number}

      .span13
        .classification
          %span{:class=>'badge-yellow'} Inspections
        .status
          =image_tag('check_mark.png', :width => '20px')
        -unless @case.inspections.empty?
          .note
            -@case.inspections.each do |i|
              .inspection
                property was inspected
                =i.inspection_date.strftime("%m/%d/%Y")
                =i.inspection_type

      .span13
        .classification
          %span{:class=>'badge-yellow'} Notification
        .status
          =image_tag('check_mark.png', :width => '20px')
        -unless @case.notifications.empty?
          .note
            -@case.notifications.each do |n|
              .notificaton
                =n.date.strftime("%m/%d/%Y")
                =n.notes

      .span13
        -unless @case.hearings.empty?
          .classification
            %span{:class=>'badge-yellow'} Hearing
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            -@case.hearings.each do |h|
              .hearing
                =h.hearing_date.strftime("%m/%d/%Y")
                =h.hearing_status

      .span13
        -unless @case.judgement.nil?
          .classification
            %span{:class=>'badge-yellow'} Judgement
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .hearing
              %t=@case.judgement.notes

      -unless @case.resets.empty?
        .span13
          .classification
            %span{:class=>'badge-yellow'} Resets
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .span4 
              -@case.resets.each do |r|
                .reset
                  ="This case was reset on " << r.reset_date.strftime("%m/%d/%Y")

      -unless @address.resolutions.empty?
        .span13
          .classification
            %span{:class=>'badge-yellow'} Resolution
          .status
            =image_tag('check_mark.png', :width => '20px')
          .note
            .span4
              -@address.resolutions.each do |r|
                .resolution
                  =r.class
                  =r.date.strftime("%m/%d/%Y")