.span10
  -unless @case.nil?
    .progress-bar
      %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"Inspectors ",  'data-original-title'=>"Inpection"}
        %a Inspection
      %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Notification"}
        %a Notifications
      %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Hearing"}
        %a Hearings
      %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"ssdf",  'data-original-title'=>"Judgement"} 
        %a Judgements
      %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsf",  'data-original-title'=>"Resolution"} 
        %a Resolution