.search-form
  =form_tag("/addresses/search", :method => "get") do
    .search-field
      =text_field_tag 'address', '', :placeholder => "Example: 1300 Perdido St", :id => "main-search-field"
    .search-button
      =submit_tag("Search Address", :class => 'btn')