.status-update
  -if @case.nil?
    .no-status
      .no-record-notice No violations have been reported for this property.
      .recommended-next-action 
        If you believe it is in violation of 
        %a{:href=>''} New Orleans building
        code, please report it to 
        %a{:href=>''} NOLA311 website or by calling 311. 
  -else
    .recent
      .recent-update-notice most recent update: 
      .recent-update  #{@case.most_recent_status.class} on #{@case.most_recent_status.date.strftime('%B %e, %Y')}.
      -case @case.most_recent_status.class
        - when 'Inspection'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Hearing'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Judgement'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Reset'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Resolution'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
