.status-update
  -if address.workflow_steps.empty?
    .no-status
      .no-record-notice No violations have been reported for this property.
      .recommended-next-action 
        If you believe it is in 
        %a{:href=>'http://www.nola.gov/RESIDENTS/Code-Enforcement/City-of-New-Orleans-Housing-Standards/'} violation of New Orleans building code
        , please report it by calling 
        %b 311. 
  -else
    .recent
      .recent-update-notice most recent update: 
      .recent-update  #{address.most_recent_status.class} on #{address.most_recent_status.date.strftime('%B %e, %Y')}.
      -case address.most_recent_status.class
        - when 'Inspection'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Hearing'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Judgement'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Reset'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
        - when 'Resolution'
          .recommended-next-action This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.

