%h2 Search Results:

-if @addresses.empty? == false
  .span3
    -@addresses.each do |a|
      .address.result
        =link_to a.address_long, address_path(a.id)
  .span12
    #map{:style => "height: 400px;"}
	  
-else
  %h4 No matches found

.row
  =will_paginate @addresses
