-unless @addresses.empty?
  .search-results
    .left-bar      
      .well{:style => "padding: 8px 0;"}
        %ul.nav.list
          %li.nav-header Search Results
          -@addresses.each do |a|
            %li.active.address.result
              %a{:href => "#"}
                %img{ :width => "10px", :src => "http://code.leafletjs.com/leaflet-0.3.1/images/marker.png"  }
                %i.home
                =link_to a.address_long, address_path(a.id)


      
        
    .right-bar
      %h3 Result only show properties with cases:
	    
      #map{:style => "height: 400px;"}
    .row
  

  .btn-toolbar
    .btn-group
      =will_paginate @addresses
	  
-else
  .no-search-results
    .left-bar
    .right-bar
      .suggestions
        %h2 Sorry! We couldn't find a case with the search term 
        %p This could mean a few different things:

        %h4 Typo?
        %p 1) Check to see if you typed the address correct.
	  
        %h4 Check back later
        %p 2) We get our data from the city. 
	 
        %h4 No Case
        %p 3) The city does not have a case on this property
	  

        %h4 Techincal Glitch	  
        %p 4) We get our data from a few different sources. Sometimes there are mistakes in importing the data. If you believe there is a technical problem. Please contact us

