-unless @addresses.empty?
  .search-results
    .left-bar      
      .well{:style => "padding: 8px 0;"}
        %ul.nav.list
          %li.nav-header Search Results
          -@addresses.each do |a|
            %li.active.address.result
              %a{:href => "#"}
                %img{ :width => "10px", :src => "http://code.leafletjs.com/leaflet-0.3.1/images/marker.png"  }
                %i.home
                =link_to a.address_long, address_path(a.id)


      
        
    .right-bar
      %h3 Result only show properties with cases:
	    
      #map{:style => "height: 400px;"}
    .row
  

  .btn-toolbar
    .btn-group
      =will_paginate @addresses
	  
-else
  .no-search-results
    .left-bar
    .right-bar
      .suggestions
        %h3 The address "#{@search_term}" was not found

        %p{:style => "margin-top: 20px"} This could mean a few different things:

        %p 1) Check to see if you typed the address correctly. 
	          
        %p 2) If you believe you've run into a technical glitch, please report it to support@blightstatus.org

