.inner.single
  .show-grid
    .map
      #address{"data-x" => @address.point.x, "data-y" => @address.point.y }
        #map{:style => "height: 200px;"}
    .address
      %h1=@address.address_long

  =render :partial => "addresses/status-update", :locals => {:address => @address}

  -unless @address.workflow_steps.empty?
    .property_history
      %h3 Property History
      =render :partial => "addresses/progress-bar"
      -@cases.each do |c|
        .case
          =render :partial => "addresses/property-history", :locals => {:kase => c}
        .clearfix
      .case
        -unless @address.resolutions.empty?
          .case_number
            %h5 Resolution
          .span13
            .classification
              %span{:class=>'badge-yellow'} Resolved?
            .status
              =image_tag('check_mark.png', :width => '20px')
            .note
              .span4
                -@address.resolutions.each do |r|
                  .resolution
                    This property was successfully demolished by #{r.program_name} 
                    -# =r.date.strftime("%m/%d/%Y")
      .clearfix
