.inner
  .row-fluid{"class" => "show-grid"}        
    .span5
      #address{"data-x" => @address.point.x, "data-y" => @address.point.y }        
        #map{:style => "height: 200px;"}
    .span6
      %h1=@address.address_long
      -if @case.nil?
        %h4
          This house does not have a code enforcement record. This could mean that it has not been reported to the city.
          If you would like to make a report, you can do so by calling 311.
      -else
        %h4 The most recent event: #{@case.most_recent_status.class} on #{@case.most_recent_status.date.strftime('%e %B, %Y')}.


    .span10
      %p

    .span10
      -unless @case.nil?
        .progress
          .bar{ :style => "width: 90%"}
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"Inspectors ",  'data-original-title'=>"Inspectors"}
              %a Inspection
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Notifications"}
              %a Notifications
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Hearings"}
              %a Hearings
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"ssdf",  'data-original-title'=>"Judgements"} 
              %a Judgements
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsf",  'data-original-title'=>"Resolutions"} 
              %a Resolution
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsdf",  'data-original-title'=>"Resolution"}
              %a Resolution


    %div{ :class => 'case-history span10' }
      -unless @case.nil?
        .span13
          -unless @case.case_number.nil?
            %h5=@case.case_number

        .span13
          -unless @case.inspects.empty?
            .span5
              %span{:class=>'badge badge-success'} Inspections
            .span5
              -@case.inspects.each do |i|
                .inspection
                  =i.inspection_date.strftime("%m/%d/%Y")
                  =i.inspection_type
          -else
            %p
              No Data Found

        .span13
          -unless @case.notices.empty?
            .span5
              %span{:class=>'badge badge-success'} Notification
            .span5
              -@case.notices.each do |n|
                .notificaton
                  =n.date.strftime("%m/%d/%Y")
                  =n.notes
          -else
            %p
              No Data Found

        .span13
          -unless @case.hearings.empty?
            .span5
              %span{:class=>'badge badge-success'} Hearing
            .span5
              -@case.hearings.each do |h|
                .hearing
                  =h.hearing_date.strftime("%m/%d/%Y")
                  =h.hearing_status
          -else
            %p
              No Data Found

        .span13
          -unless @case.judgement.nil?
            .span5
              %span{:class=>'badge badge-success'} Judgement
            .span5
              .hearing
                %t=@case.judgement.notes
          -else
            %p
              No Data Found

        .span13
          -unless @case.resets.empty?
            .span5
              %span{:class=>'badge badge-success'} Resets
            .span5 
              -@case.resets.each do |r|
                .reset
                  ="This case was reset on " << r.reset_date.strftime("%m/%d/%Y")
          -else
            %p
              No Data Found

      .span13
        -unless @address.resolutions.empty?
          .span5
            %span{:class=>'badge badge-success'} Resolution
            -@address.resolutions.each do |r|
              .resolution
                =r.class
                =r.date.strftime("%m/%d/%Y")
        -else
          %p
            No Data Found
        
