.inner.single
  .row-fluid{"class" => "show-grid"}        
    .span10
      #address{"data-x" => @address.point.x, "data-y" => @address.point.y }        
        #map{:style => "height: 200px;"}
    .span10
      %h1=@address.address_long



    .span10.progress-bar  
      -unless @case.nil?
        .progress
          .bar{ :style => "width: 90%"}
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"Inspectors ",  'data-original-title'=>"Inspectors"}
              %a Inspection
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Notifications"}
              %a Notifications
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"df",  'data-original-title'=>"Hearings"}
              %a Hearings
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"ssdf",  'data-original-title'=>"Judgements"} 
              %a Judgements
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsf",  'data-original-title'=>"Resolutions"} 
              %a Resolution
            %span{ :class=> 'property-status', 'href'=> "#" , 'rel'=>"popover", 'data-content'=>"sdfsdf",  'data-original-title'=>"Resolution"}
              %a Resolution


    .span10
      -if @case.nil?
        .no-status
          .badge.badge-info This house does not have a code enforcement record. 
        %p This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.
      -else
        .badge.badge-info
          The most recent event: #{@case.most_recent_status.class} on #{@case.most_recent_status.date.strftime('%e %B, %Y')}.
        %p This could mean that it has not been reported to the city. If you would like to make a report, you can do so by calling 311.




    %div{ :class => 'case-history span10' }
      .span13
        %h3 Property History
      -unless @case.nil?
        .span13
          -unless @case.case_number.nil?
            %h5 Case Number: #{@case.case_number}

        .span13
          .span3
            %span{:class=>'badge badge-success'} Inspections
          -unless @case.inspections.empty?
            .span4
              -@case.inspections.each do |i|
                .inspection
                  =i.inspection_date.strftime("%m/%d/%Y")
                  =i.inspection_type
          -else
            .span4
              No Data Found

        .span13
          -unless @case.notifications.empty?
            .span3
              %span{:class=>'badge badge-success'} Notification
            .span4
              -@case.notifications.each do |n|
                .notificaton
                  =n.date.strftime("%m/%d/%Y")
                  =n.notes
          -else
            .span4 
              No Data Found

        .span13
          -unless @case.hearings.empty?
            .span3
              %span{:class=>'badge badge-success'} Hearing
            .span4
              -@case.hearings.each do |h|
                .hearing
                  =h.hearing_date.strftime("%m/%d/%Y")
                  =h.hearing_status
          -else
            .span4 
              No Data Found

        .span13
          -unless @case.judgement.nil?
            .span3
              %span{:class=>'badge badge-success'} Judgement
            .span4
              .hearing
                %t=@case.judgement.notes
          -else
            .span4 
              No Data Found

        .span13
          .span3
            %span{:class=>'badge badge-success'} Resets
          -unless @case.resets.empty?
            .span4 
              -@case.resets.each do |r|
                .reset
                  ="This case was reset on " << r.reset_date.strftime("%m/%d/%Y")
          -else
            .span4 
              No Data Found

      .span13
        .span3
          %span{:class=>'badge badge-success'} Resolution
        -unless @address.resolutions.empty?
          .span4
            -@address.resolutions.each do |r|
              .resolution
                =r.class
                =r.date.strftime("%m/%d/%Y")
        -else
          .span4
            No Data Found