.inner.single
  .row-fluid.show-grid
    .span10.map
      #address{"data-x" => @address.point.x, "data-y" => @address.point.y }
        #map{:style => "height: 200px;"}
    .span10.address
      %h1=@address.address_long

    =render "addresses/progress-bar"
    =render "addresses/status-update"
    =render "addresses/property-history"