// Place all the styles related to the addresses controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.container-addresses{
	width: 100% !important;

	header{
		height: 40px;
    
		h1 {
  		float: left;
  		font-size: 135%;
  		margin: 0;
  		padding: 0 0 0 15px;
  		text-align: left;
  		width: 290px;
		}
    
		.top-search-bar{
      float: left;
      margin: -10px 20px;
      padding: 0;

	    .search-field{
	      font-size: 100%;
				float: left;
        margin-left: 20px;
				
				#main-search-field {
					font-size: 140%;
					height: 23px;
					margin-right: 10px;
					padding: 3px 10px;
					width: 320px;
				}
	    }
	    .search-button{
	      font-size: 100%;
				float: left;
        .btn{
          height: 30px;
        }
	    }
			
	  }
	}
  
  .show-grid{
    
    .address{
      line-height: 20px;
      margin-top: 20px;
    }
    .map{
    }
  }
	
	.search-results{
		
    width: 100% !important;
    clear: both;
    
		.left-bar{
			float:left;
			padding: 0 20px;
			border-width: 0 1px 0 0;
			border-style: solid;
			border-color: #eee;
			height: 100%;
			min-height: 500px;
			width: 20%;
      
      h8{
        text-transform:capitalize;
      }
		}
    
		.right-bar{
			float:left;
			width: 74%;
			padding-left: 20px;

    	#map{
        border: 1px solid black;
        height: 600px !important;
        position: relative;  
      }
      
		}
	}
	
	.single{
		margin: 0 auto;
    width: 500px;
    
    .show-grid{
    
    }
    
    .map{
      width: 500px;
    }
  
    
    .progress-bar-icon{
      background: url('/assets/progress_arrow.png') no-repeat;
      bottom: -11px;
      height: 10px;
      position: absolute;
      right: 0;
      width: 25px;
    }
                    
    .progress-bar{
      background-color: #F8DC8D;
      border: 0 solid #AAAAAA;
      border-radius: 10px 10px 10px 10px;
      height: 30px;
      padding: 3px;
      position: relative;
      text-transform: uppercase;
      margin-top: 10px;
          
      .progress-bar-overlay{
        background-color: #f9CC5d !important;
        border-radius: 10px 0 0 10px;
        height: 35px;
        width: 80%;
        position: absolute;
        left: 0;
        top: 0;
        
        .property-status-inspection{
          height: 35px;
          left: 5px;
          padding-top: 9px;
        }
        .property-status-notification{
          left: 100px;
          height: 24px;
          padding-top: 9px;
        }
        .property-status-hearing{
          height: 24px;
          padding-top: 9px;
          left: 210px;
        }
        .property-status-judgement{
          height: 24px;
          padding-top: 9px;
          left: 290px;
        }
        .property-status-resolution{
          height: 24px;
          padding-top: 9px;
          left: 390px;
        }
        
      }

      
      .property-status{
        width: 75px;
        padding: 0 15px;
        position: absolute;
        a{
          color: #6A6867;
          text-decoration: none;
          &:hover{
            text-decoration: none;
            color: #6A6867;
            cursor: pointer;
          }
        }
      }

      
    }
    
    
		.badge-info{
      width: 58%;
      margin: 0 auto;
    }
    .case-history{
    	border: solid #aaa;
      border-width: 1px 0 0 0 ;
      min-height: 400px;
			.no-data-found{
				margin-left: 0;
			}

    	.span13{
        border: 0 solid #EEEEEE;
        padding: 15px 0;
        width: 90%;    
    	}
    }
    
    
    
    .status-update{
      margin: 0 auto;
      padding: 25px 0;
      text-align: center;
      width: 100%;


      .recent-update-notice{
        text-transform: uppercase;
        color: #DC5C52;
        font-weight: bold;
        display: inline;
      }
    
      .recent-update{
        display: inline;
        text-align:left;
      }
      
      .no-record-notice{
        font-size: 120%;
        font-weight: bold;
        color: #DC5C52;
        padding: 0 0 10px;
        text-align: left;
      }
      
      .recommended-next-action{
        text-align: left;
      }

    }
    

    
    
    .classification{
      float: left;
      width: 100px;
    }
    .status{
      float: left;
      text-align: center;
      width: 100px;

    }
    .note{
      float: left;
      width: 245px;

      .span3{
        margin-left: 0;
        padding-left: 0;
      }
      .span4{
        margin-left: 0;
        padding-left: 0;
      }
      
    }

	}
  	
}

.leaflet-container .leaflet-control-attribution{
	display: none;
}


.leaflet-popup-content h4{
  font-size: 14px;
  line-height: 16px;
  padding-bottom: 10px;
}