/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
*/



#topbar { 
	text-align: center; 
	top: 0px, 
	left: 0px; 
	height: 30px; 
	width: 100%; 
	background: #419ED8; 
	-moz-box-shadow: 0px 0px 5px 0px #888; 
	-webkit-box-shadow: 0px 0px 9px 0px #888; 
	box-shadow: 0px 0px 5px 0px #888; 
	z-index: 99999;
}


#topbar p {
	color: #fff; 
	font-family: 'Arvo'; 
	font-size: 12px; 
	margin-top: 5px; 
	font-weight: bold;
	vertical-align: middle; 
	font-weight: 300; 
	letter-spacing: 2px;
}

#topbar img {
	vertical-align: middle; 
	margin-right: 15px;
}

#topbar a {
	color: #fff; 
	text-decoration: none; 
	border-bottom:1px dotted #fff;
}

#tag{
	position: absolute;
	right: 5%;
	top: 0;
}

.row .pagination a {
  float: none;
}

header {
	text-align: center;

}
header h1 a{
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 300%;
    text-align: center;
}

header h1 a:hover{
	text-decoration: none;
	color: black;
}


footer{
	text-align: center;
}


.form-search label{
	width: auto;
}

