/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
*/

#wrapper{
	position: absolute;
	width: 100%;
	height: 100%;
}

header {
	text-align: center;
	h1{
		color: #CBDCA3;
		 a{
      color: #333333;
      font-size: 200%;
      text-align: center;
			&:hover{
				text-decoration: none;
				color: black;
			}
		}		
	}
}

.clear{
	clear: both;
}

.navbar{ 
	text-align: center; 
	top: 0px; 
	left: 0px; 
	height: 30px; 
	width: 100%; 
	-moz-box-shadow: 0px 0px 5px 0px #888; 
	-webkit-box-shadow: 0px 0px 9px 0px #888; 
	box-shadow: 0px 0px 5px 0px #888; 
	z-index: 99999;
	.navbar-inner{
		background: #CBDCA3;/*#419ED8;*/ 
		border-radius: 0;
	
	}

	p {
		font-family: 'Arvo'; 
		font-size: 12px; 
		font-weight: bold;
		vertical-align: middle; 
		font-weight: 300; 
		letter-spacing: 2px;
		padding: 6px;
		margin: 0;
	}
	
	img {
		vertical-align: middle; 
		margin-right: 15px;
    height: 20px;
	}

	a {
		color: white;
		text-decoration: none; 
		border-bottom:1px dotted #fff;
	}


}

.page-header{
  border-bottom: 1px solid #F5F5F5;
  margin: 18px 0;
  padding-bottom: 5px !important;
}

.popover{
  background-color: white;
  .popover-inner{
    border: 1px solid #aaa;
    padding: 0;

    .popover-title{
      display:none;
    }

  }

}

    
.top-search-bar{
	padding: 0;
	position: absolute;
	top: 40px;
  left: 31%;
        
	.search-form{
		width: 600px;
		margin: 0 auto;

    form{
      margin: 0 0 10px;
    }
    .search-field{
      font-size: 100%;
      float: left;
      margin-left: 20px;
				
			#main-search-field {
				font-size: 140%;
				height: 23px;
				margin-right: 10px;
				padding: 3px 10px;
				width: 320px;
			}
    }
      
    .search-button{
      font-size: 100%;
			float: left;
      .btn{
        height: 30px;
      }
    }					
	}
}
  


#main-search-field{
  font-size: 200%;
  height: 30px;
  padding: 5px 10px;
  width: 320px;
}

.address{

	&.result{
		background-color: #FAFAFA;
		border: 1px solid #CCCCCC;
		margin-top: -1px;
		padding: 5px;

		img{
			float: left;
			width: 12px;
			padding-right: 5px;
		}

		a{

			&:hover{
				text-decoration: none;
			}
		}
	}
}

.well {
    border: 0 none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    background-color: white !important;
    border: 0 !important;
    box-shadow: none !important;
    height: 350px;
}



.progress {
	height: 30px !important; 
	width: 100%;
  
	.bar {
	  	height: 30px !important; 
	    width: 60%;
  }
  
  span {
		border-color: #AAAAAA !important;
		border-style: solid !important;
		border-width: 0 1px 0 0;
		float: left;
		padding: 5px;
		font-size: 120%;
		width: 100px;
    
		&:hover{
			text-decoration: none;
			color: black;
      		cursor: pointer;
		}
          
    a{
      color: white;
      text-decoration: none;
    }
  }	
}




footer{
  border-top: 1px solid #EEEEEE;
  clear: both;
  margin-top: 17px;
  padding-top: 17px;
  position: relative;
  width: 100%;
  text-align: center;
  bottom: 0;
  
  .footer{
    padding: 10px 0 20px;
  }
  
  .demo{
    width: 500px;
    margin: 0 auto;
    text-align: center;
    bottom: 100px;
		display: none;
  }

}

.form-search label{
	width: auto;
}


#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.row .pagination a {
  float: none;
}


.leaflet-control-attribution{
	display: none;
}


.badge-yellow{
	background-color: #F9CC5D;
	border-radius: 10px 10px 10px 10px;
	color: #6A6867;
	float: left;
	font-size: 110%;
	letter-spacing: 0.7px;
	padding: 4px 10px;
	text-align: center;
}

.ui-corner-all{
	border-radius: 0 !important;
}

