/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
*/

.row .pagination a {
  float: none;
}

header {
	text-align: center;

}
header h1 a{
    color: #333333;
    font-family: 'Trebuchet MS';
    font-size: 300%;
    text-align: center;
}

header h1 a:hover{
	text-decoration: none;
	color: black;
}


footer{
	text-align: center;
}


.form-search label{
	width: auto;
}