/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 *= require bootstrap
*/



#topbar { 
	text-align: center; 
	top: 0px; 
	left: 0px; 
	height: 30px; 
	width: 100%; 
	background: #419ED8; 
	-moz-box-shadow: 0px 0px 5px 0px #888; 
	-webkit-box-shadow: 0px 0px 9px 0px #888; 
	box-shadow: 0px 0px 5px 0px #888; 
	z-index: 99999;

	p {
		color: #fff; 
		font-family: 'Arvo'; 
		font-size: 12px; 
		font-weight: bold;
		vertical-align: middle; 
		font-weight: 300; 
		letter-spacing: 2px;
	}
	
	img {
		vertical-align: middle; 
		margin-right: 15px;
	}

	a {
		color: #fff; 
		text-decoration: none; 
		border-bottom:1px dotted #fff;
	}
	

}


#main-search-field{
  font-size: 200%;
  height: 30px;
  padding: 5px 10px;
  width: 300px;
}

.address{
	&.result{
		border: 1px solid;
		padding: 5px;
		background-color: #eee;

		img{
			float: left;
			width: 20px;
			padding-right: 5px;

		}
	}
}

.well {
    border: 0 none;
    margin-bottom: 20px;
    min-height: 20px;
    padding: 19px;
    background-color: white !important;
    border: 0 !important;
    box-shadow: none !important;
    height: 350px;
}

header {
	text-align: center;
	h1{
		 a{
			color: #333333;
			font-family: 'Trebuchet MS';
			font-size: 300%;
			text-align: center;
			&:hover{
				text-decoration: none;
				color: black;
			}
		}		
	}
}




.progress {
	height: 30px !important; 
	width: 100%;
	.bar {
	  	height: 30px !important; 
	    width: 60%;
	}

	    span {
				border-color: #AAAAAA !important;
				border-style: solid !important;
				border-width: 0 1px 0 0;
				float: left;
				padding: 5px;
				font-size: 120%;
				width: 100px;
				&:hover{
					text-decoration: none;
					color: black;
	        		cursor: pointer;
				}      
	      a{
	        color: white;
	        text-decoration: none;
	      }
		}	
}


.ui-autocomplete {
	background: none repeat scroll 0 0 #EEEEEE;
    color: #AAAAAA;
    padding: 5px 10px 10px;
    width: 300px;
	border: 1px solid #DDDDDD;
    box-shadow: 0 2px 6px #CCCCCC;

  li {
	border-color: #DDDDDD;
    border-style: solid;
    border-width: 0 0 1px;
    list-style-type: none;
    padding: 3px 10px 5px 3px;

    &:hover{
    	background-color: red;
    }
  }
  a {
    color: #333;
    &:hover {
      color: #333;
	  cursor: pointer;
	  text-decoration: none;
    }
  }
}


footer{
	text-align: center;
}


.form-search label{
	width: auto;
}


#tag{
	position: absolute;
	right: 5%;
	top: -8px;
}

.row .pagination a {
  float: none;
}


.leaflet-control-attribution{
	display: none;
}

.case-history{
	border: 1px solid black;
	.span13{
		border: 1px solid #eee;
		padding: 5px;
		width: 90%;

	}
}

