// Place all the styles related to the cases controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


.container-cases{

	.inner{
		clear:both;
		width: 600px;
		margin: 0 auto;
	}
	
}

