// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

/*
.page-header{
	margin-top: 140px !important;
}

.container{
	width: 570px;
}*/