// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-home{
	
	input.btn[type="submit"] {
		font-size: 150%;
		height: 40px;
		margin: 0 5px;		
	}	
  
  .page-header{
     border: 0px; 
     margin: 30px 0;
     h1 {
      line-height: 1;
      padding: 60px 0 8px;
     }
  }
  
	.content{

		margin: 0 auto;
		position: relative;
		width: 100%;
		form {
			text-align: center;
		}	
	
	}
	
  
  .homesearch{
    background: none repeat scroll 0 0 #CBDCA3;
    border-radius: 7px 7px 7px 7px;
    box-shadow: 3px 3px 5px #AAAAAA;
    margin: 0 auto;
    padding: 15px;
    width: 525px;
            
    .search-form{
      width: 515px;
      margin: 0 auto;
      .search-field{
        float: left;
      }
      .search-button{
        float: left;
        padding: 1px 2px;
      }
    }
  }
  
  footer{
    position: absolute;
    bottom: 0;
  }


  
}

