// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.container-home{
	
	input.btn[type="submit"] {
		font-size: 150%;
		height: 40px;
		margin: 0 5px;		
	}	
  
  .page-header{
   border: 0px; 

   h1 {
       line-height: 1;
       padding: 100px 0 50px;
   }

  }
  
	.content{

		margin: 0 auto;
		position: relative;
		width: 100%;
		form {
			text-align: center;
		}	
	
	}
	
  
  .homesearch{
    width: 500px;
    margin: 0 auto;
    
    .search-form{
      width: 515px;
      margin: 0 auto;
      .search-field{
        float: left;
      }
      .search-button{
        float: left;
        padding: 1px 2px;
      }
    }

  }


  
}

